$cellWidth: 40px;

.grid {
    position: relative;
    display: flex;
}

.grid__cell {
    position: absolute;
    width: $cellWidth;
    height: $cellWidth;
    
    &__img, .jsgif canvas {
        top: 0;
        left: 0;
        width: $cellWidth;
        height: $cellWidth;
    }
    
    &__monster, &__door, &__stair {
        z-index: 2;
    }
    
    &__character {
        z-index: 1;
    }
}
