$cellWidth: 40px;

.grid {
    position: 'relative';
    display: 'flex';
}

.grid__cell {
    position: absolute;
    &__img {
        top: 0;
        left: 0;
        width: $cellWidth;
        height: $cellWidth;
    }
    
    &__monster, &__door, &__stair {
        z-index: 2;
    }
    
    &__character {
        z-index: 1;
    }
}

.grid__battle-dialog {
    position: absolute;
    
    width: 300px;
    height: 300px;
    margin: auto;
    
    background: green;
    z-index: 10;
}