.message-box {
    height: 100px;
    width: 100%;
    background: green;
    margin: 10px auto auto auto;
    border-radius: 10px;
    display: flex;
}

.message-box__inner {
    background: lightgreen;
    align-self: center;
    border-radius: 10px;
    margin: 6px 10px;
    width: 100%;
    height: 88px;
    padding: 0 6px;
}
