.number-field {
    background: lightblue;
    display: flex;
    background-clip: border-box;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 0 3px #000000;
    margin: 6px;
}

.number-field__inner-text {
    display: flex;
    text-align: right;
    background: white;
    line-height: 20px;
    height: 20px;
    align-self: center;
    width: 200px;
    margin: auto 6px auto auto;
    padding: 0 3px 0 0;
    justify-content: flex-end;
}
