.panel {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: blue;
    padding: 5px;
}

.panel--stat {
    height: auto;
    width: 250px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;

    &:first-child {
        margin-bottom: 10px;
    }
}

.panel--control {
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
}
