.panel {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: blue;
    padding: 5px;
}

.panel--stat {
    height: auto;
    width: 250px;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;

    &:first-child {
        margin-bottom: 10px;
    }

    &__groupped {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .number-field {
            width: 100px;
        }
    }
}

.panel--control {
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
}
